<log4net>
  <!-- Define some output appenders -->
  <appender name="RollingFileNSBAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log/nservicebus.txt" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
    </layout>
  </appender>
  <appender name="RollingFileSQLAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log/sql.txt" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
    </layout>
  </appender>
  <appender name="RollingFileNHibernateAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log/nhibernate.txt" />
    <param name="AppendToFile" value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
    </layout>
  </appender>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Log/error.txt" />
    <appendToFile value="true" />
    <maxSizeRollBackups value="2" />
    <maximumFileSize value="10MB" />
    <rollingStyle value="Size" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </layout>
  </appender>

  
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>
  <logger name="NHibernate.SQL" additivity="true">
    <level value="ALL"/>
    <appender-ref ref="RollingFileSQLAppender"/>
  </logger>
  <logger name="NHibernate" additivity="false">
    <level value="ERROR"/>
    <appender-ref ref="RollingFileNHibernateAppender"/>
  </logger>
  <logger name="NServiceBus" additivity="false">
    <level value="ALL"/>
    <appender-ref ref="RollingFileNSBAppender"/>
  </logger>
</log4net>