<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="SecondLevelRetriesConfig" type="NServiceBus.Config.SecondLevelRetriesConfig, NServiceBus.Core" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
   </configSections>

  <connectionStrings>
    <add name="NServiceBus/Persistence" connectionString="Data Source=(localdb)\v11.0;Integrated Security=true;Database=NServiceBus;" />
    <add name="NServiceBus/Transport" connectionString="Data Source=(localdb)\v11.0;Integrated Security=true;Database=NServiceBus;" />
  </connectionStrings>

  <MsmqTransportConfig NumberOfWorkerThreads="1" MaxRetries="1" />
  
  <SecondLevelRetriesConfig Enabled="true" TimeIncrease="00:00:30" NumberOfRetries="2" />
  
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="ITOps.Notification.Error" />

  <log4net configSource="log4net.config" />

  <appSettings>
    <!-- dialect is defaulted to MsSql2008Dialect, if needed change accordingly -->
    <add
        key="NServiceBus/Persistence/NHibernate/dialect"
        value="NHibernate.Dialect.MsSql2008Dialect" />
    <!-- other optional settings examples -->
    <add
        key="NServiceBus/Persistence/NHibernate/connection.provider"
        value="NHibernate.Connection.DriverConnectionProvider" />
    <add
        key="NServiceBus/Persistence/NHibernate/connection.driver_class"
        value="NHibernate.Driver.Sql2008ClientDriver" />
  </appSettings>
  
  <runtime>
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                 <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
                 <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
            </dependentAssembly>
       </assemblyBinding>
  </runtime>
</configuration>